<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">DNH BLOG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li>
          <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
              <img src="https://s.net.vn/fGIN" alt="" class="user-avatar">
              Dương Ngọc Hải
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/courses/create">Create Blog</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/me/stored/courses">My Blog</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/me/create/courses">Đăng xuất</a>              
            </ul>
          </div>      
        </li>   
      </ul>
    </div>
  </div>
</nav>